a:hover {
    text-decoration: none;
}

.social-icons, .contact-icons {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

}
.social-icons > li {
    margin: 5px;
}

html, body {
    width: 100%;
    height: 100%;
}

#footer {
    padding: 10px;
    text-align: center;
}

nav {

}

#wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#wrap > #main-content {
    flex-grow: 1;
}

#wrap > #footer {
    flex-shrink: 0;
}

#basic-profile {
    text-align: center;
}

#basic-profile > .photo > img {
    max-width: 200px;
    border-radius: 100%;
}

#projects > .container > div > .project {
    max-width: 300px;
    margin: 4px;
}

#projects > .container > div > .project > .photo {

}

#projects > .container > div > .project > .photo > img {
 width: 300px;
 height: 150px;
}

#projects > div > .project > .description {

}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: black;
    cursor: pointer;
    background: #ededed;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    font-size:20px;
}

.show {
    display: flex !important;
}

section {

    padding: 100px 0px;
}

section:nth-child(odd) {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}
