section#profile > .row > #basic-profile > .social-media {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

#wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#wrap > #main-content {
    flex-grow: 1;
}

#wrap > #footer {
    flex-shrink: 0;
}

#basic-profile {
    text-align: center;
}

#basic-profile > .photo > img {
    max-width: 100%;
    border-radius: 100%;
}

#basic-profile > .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#basic-profile > .social-media > li {
    margin: 5px;
}
